.App {
  text-align: center;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body {
  margin: 0;
  padding: 0;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Navbar */

.navbar {
  /* background-color: #316e74; */
 /*  background: rgba(52, 109, 163, 0.363); */
  background: linear-gradient(0deg, rgba(180, 129, 105, 0.815) 0%, rgba(105, 107, 230, 0.562) 100%, rgba(58, 94, 194, 0.507) 100%);
  height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  position: sticky;
  top: 0;
  z-index: 20;
  box-shadow: 8px 10px 14px 6px rgba(127, 12, 12, 0.246);
  -webkit-box-shadow: 8px 10px 14px 6px rgba(127, 12, 12, 0.246);
  -moz-box-shadow: 8px 10px 14px 6px rgba(127, 12, 12, 0.246);
  opacity:0.5;
  filter:alpha(Opacity=1);
  }
  .navbar:hover {
    opacity: 2.0;
    filter: alpha(Opacity=100,FinishedOpacity=100);
  }
.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  max-width: 1500px;
}

.nav-logo {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #babd11fd;
  text-shadow: -3px 1px 7px rgba(8, 45, 85, 0.856);
  align-items: center;
  margin-left:150px;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.5rem;
  /* flex-grow: 1; */
  display: inline-flex;
  box-shadow: 8px 10px 14px 6px rgba(127,12,12,0.63);
-webkit-box-shadow: 8px 10px 14px 6px rgba(127,12,12,0.63);
-moz-box-shadow: 8px 10px 14px 6px rgba(127,12,12,0.63);
text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px, 7px -23px 16px rgba(66,31,178,0.63);
color: #680804;

}

.nav-menu {
  color:#fcff40;
  display: flex;
  list-style: none;
  text-align: center;
  margin-right: 2rem;
  text-shadow: rgb(156, 53, 53) 0px 0px 5px, rgb(155, 81, 81) 0px 0px 10px, rgb(160, 76, 76) 0px 0px 15px, #7c4b64 0px 0px 20px, #8d7883 0px 0px 30px, #946a7f 0px 0px 40px, #b1843083 0px 0px 50px, #b1843083 0px 0px 75px, 7px -23px 16px rgba(31, 17, 78, 0.63);
color: #ddddcc;

}

.nav-links {
  color: rgb(4, 10, 59);
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  border-bottom: 3px solid transparent;
  box-shadow: 8px 10px 14px 6px rgba(127,12,12,0.63);
-webkit-box-shadow: 8px 10px 14px 6px rgba(127,12,12,0.63);
-moz-box-shadow: 8px 10px 14px 6px rgba(127,12,12,0.63);
}

.fa-code {
  margin-left: 1rem;
}

.nav-item {
  font-family: 'Press Start 2P', cursive;
  font-size: 1rem;
  line-height: 40px;
  margin-right: 1rem;
}

.nav-item:after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width 0.7s ease, background-color 0.5s ease;
}

.nav-item:hover:after {
  width: 100%;
  background: #fcff40;
}

.nav-item .active {
  color: #ffdd40;
}

.nav-icon {
  display: none;
  
}



@media screen and (max-width: 960px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1px solid #fff;
    position: absolute;
    top: 80px;
    left: -110%;
    opacity: 1;
    transition: all 0.5s ease;
  }
  .nav-menu.active {
    background: #1f5156;
    left: 0px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
  .nav-item .active {
    color: #ffdd40;
    border: none;
  }
  .nav-links {
    padding: 1.5rem;
    width: 100%;
    display: table;
  }
  .nav-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    color: #ffdd40;
  }
}

.page-link {
  position: relative;
  display: block;
  padding: .5rem .80rem;
  margin-left: 20px;
  line-height: 1.15;
  text-decoration: none;
  color: #e6dcdc;
  font-family: 'Press Start 2P';
  background-color: rgba(211, 16, 16, 0.472);
  border: 2px solid #1d5996;
  border-radius: 50%;
}

.page-link:hover {
  transition: 500ms;
  z-index: 2;
  color: #c09a1c;
  text-decoration: none;
  background-color: #24286d;
  border-color: #3a526b
}

.page-link:focus {
  z-index: 2;
  outline: 0;
  box-shadow: 0 0 0 .2rem rgba(19, 170, 32, 0.25)
}

.pagination {
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: .28rem;
  justify-content: center;
}