#fountainG{
	position:relative;
	
	height: 100vh;
	width: 100%;
	margin-top: 200px;
	margin-left: 650px;
	color:rgb(163, 89, 89);
}


.fountainG{
	position:absolute;
	top:0;
	background-color:rgb(156, 22, 22);
	width:28px;
	height:28px;
	animation-name:bounce_fountainG;
	animation-duration:1.8s;
	animation-iteration-count:infinite;
	animation-direction:normal;
	transform:scale(.4);
	border-radius:19px;
	
	 }
	
	
	
  


#fountainG_1{
	left:0;
	animation-delay:0.6s;
}

#fountainG_2{
	left:29px;
	animation-delay:0.75s;
}

#fountainG_3{
	left:58px;
	animation-delay:0.9s;
}

#fountainG_4{
	left:88px;
	animation-delay:1.05s;
}

#fountainG_5{
	left:117px;
	animation-delay:1.2s;
}

#fountainG_6{
	left:146px;
	animation-delay:1.35s;
}

#fountainG_7{
	left:175px;
	animation-delay:1.5s;
}

#fountainG_8{
	left:205px;
	animation-delay:1.64s;
}



@keyframes bounce_fountainG{
	0%{
	transform:scale(1);
		background-color:rgb(185, 7, 7);
	}

	100%{
	transform:scale(.3);
		background-color:rgb(87, 62, 61);
	}
}