.gamedetail {
    background-image: url('./Guilty-Gear-XX-Reload-Arcade-Video-Game-2002-Sammy-Backgrounds-Stages-Zappa-Sprites.gif');
    padding-left: 0;
    padding-right: 0;
    height: 100%;
    width: 100%;
    background-size:cover;
    background-position:center center;
    background-repeat: no-repeat;
    position:absolute;
    text-align:center;
    
    
}

.wrapper {
    height: 300px;
    text-align: center;
    padding-top: 2px;
    letter-spacing: 2pt;      /* para separar entgre letras */
    word-spacing: 5pt;        /* para separacion entre palabras */  
    line-height: 10pt;        /* para la separacion entre lineas */
}

.container {
    background: rgba(205, 212, 214, 0.835);;
    margin: auto;
    width: 1200px;
    height: 610px;
    border-radius: 5%;
    background-image: linear-gradient(270deg, rgba(236, 225, 223, 0.64) 16%, rgba(180, 98, 98, 0.56) 66%);
    
}
.name {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    padding-top: 10px;
    color:rgb(3, 1, 1);
    text-shadow: 0px 3px 3px rgba(160, 15, 15, 0.897);
    
    
}
.description {
    font-size: 12px;
    text-align: left;
    margin:2%;
    font-weight: 200;
    color:rgba(19, 12, 6, 0.993);
    /* text-shadow: 0px 3px 3px rgb(56, 52, 52); */
    letter-spacing: 2pt;      /* para separar entgre letras */
    word-spacing: 5pt;        /* para separacion entre palabras */  
    line-height: 10pt;        /* para la separacion entre lineas */  
    box-shadow: 8px 10px 14px 6px rgba(127, 12, 12, 0.24);
    -webkit-box-shadow: 8px 10px 14px 6px rgba(127, 12, 12, 0.246);
    -moz-box-shadow: 8px 10px 14px 6px rgba(127, 12, 12, 0.246);
    
}   

.image {
    width: 180px;    
    height: 120px;
    border-radius: 10%;
    border: 10px solid #352d2d;
    
}

.genres {
    display:inline-block;
    color:rgb(3, 1, 1);
    /* text-shadow: 0px 3px 3px rgb(214, 59, 59); */
    margin-right:40px;
    margin-left:40px;
    letter-spacing: 1pt;      /* para separar entgre letras */
    word-spacing: 5pt;        /* para separacion entre palabras */  
    line-height: 10pt;        /* para la separacion entre lineas */ 

}